{% extends "page.html" %}
{% load static %}
{% block content %}
<div class="centered-content-wrapper">
    <form method="POST" class="d-flex main-form">
        {% csrf_token %}
        <div class="search-form-wrapper input-group">
          {{ form }}
          <button class="btn" type="submit">
              <img src="{% static 'icons/process_icon.svg' %}" alt="generate">
          </button>
        </div>
    </form>
    <div class="form-sub-desc">
        preview existing link <a href="{% url 'core:search_created_url' %}">here</a>
    </div>
</div>
{% endblock %}
