body {
    background-color: #454A67 !important;
}

.page-content-wrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.centered-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.main-form {
    width: 50%;
}

.navbar {
    background-color: #8DB580;
    color: #fff;
    padding: 5px 15px 5px 15px;
    font-size: 1.5rem;
}

.navbar-brand {
    color: #fff !important;
}

.main-container {

}

.input-group input {
    border: 0;
}

.form-control, .btn {
    border-radius: 0px !important;
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px 10px;
}

.form-sub-desc {
    margin-top: 10px;
    color: #fff;
}

.form-sub-desc a {
    color: #fff;
}

.url-details {
    color: #fff;
    background-color: #7E8987;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.url-details a {
    color: #fff;
}

.error-message {
    color: #fff;
    background-color: red;
    padding: 10px;
}

.success-message {
    color: #fff;
    background-color: green;
    padding: 10px;
}

.search-form-wrapper {

}

.search-form-wrapper .btn {
    background-color: #7E8987 !important;
}

.search-form-wrapper .btn:hover {
    background-color: #626a69 !important;
}

.login-form-wrapper {
    flex-direction: column;
    color: #fff;
    gap: 10px 0;
    background-color: #8DB580;
    padding: 10px;
    border-radius: 5px;
}

.nav-item-link {
    text-decoration: none;
    color: #fff;
}

.errorlist {
    color: red !important;
}

.graphs-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #6c757d;
}

.graph-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.graph-controls {

}

@media (max-width: 576px) {
    .main-form {
      width: 90%;
    }

    .navbar-nav {
      align-items: flex-start !important;
      gap: 20px 0;
    }

    .graphs-wrapper {
        flex-direction: column !important;
    }

    .graph-wrapper {
        width: 100% !important;
    }
}

@media (min-width: 576px) {
  .nav-item-link-text {
    display: none;
  }
}
