{% extends "page.html" %}
{% load static %}
{% block content %}
<div class="centered-content-wrapper">
    <form method="POST" class="d-flex main-form">
        {% csrf_token %}
        <div class="form-inputs-wrapper input-group">
          {{ form }}
          <button class="btn" type="submit">
              <img src="{% static 'icons/search_icon.svg' %}" alt="search">
          </button>
        </div>
    </form>
    <div class="form-sub-desc">
        generate shortened link <a href="{% url 'core:main' %}">here</a>
    </div>
</div>
{% endblock %}
